* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.title {
    color: white;
    background-color: rgba(23, 33, 65, 0.918);
    text-align: center; 
}

header {
    text-align: center;
    margin-bottom: 20px;
}


header h2 {
    color: rgb(202, 199, 199);
    font-weight: lighter;
}

#contact-form {
    border-bottom: solid black 2px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
#contact {
    max-width: 760px;
    margin: 5px auto;
    padding-bottom: 50px;
    border-top: double black 9px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea, 
select {
    width: 100%;
    height: auto;
    background-color: rgb(231, 228, 228);
    margin: 0 auto;
    border: none;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    
}

#zipcode {
    width: 50%;
    padding: 15px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder  {
    text-align: right;
}

fieldset {
    border: none;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
}

#newsletter-form label {
    display: inline-block;
    margin-left: 5px;
}


legend {
    margin-bottom: 10px;
    padding-left: 0px;
    font-size: 2rem;
}

#contact-form legend {
    padding-top: 30px;
}

button {
    width: 100%;
    background-color: lightseagreen;
    color: white;
    padding: 19px 39px 18px 39px;
    margin-top: 20px;
}

footer {
    text-align: center;
    font-weight: lighter;
}

input:focus, 
textarea:focus,
select:focus {
    background-color: bisque;
}

@media screen and (min-width: 768px) {

    #contact-form label {
        float: left;
        width: 25%
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 75%;
        padding: 15px 10px;
        margin: 10px 0px;
        border-radius: 5px;
    }

    #zipcode {
        width: 25%;
    }


    }

